[Desktop Entry]
Type=Application
Name=Hello Raspberry Pi
Comment=Simple Tkinter Hello World App
Exec=/usr/bin/python3 /usr/share/opensensecam/index.py
Terminal=false
Categories=Utility;
Icon=opensensecam