[Desktop Entry]
Type=Application
Name=OpenSenseCam
Comment=A passive capture wearable camera
Exec=/usr/bin/python3 /usr/share/opensensecam/index.py
Terminal=false
Categories=Utility;
Icon=opensensecam