[Desktop Entry]
Type=Application
Name=Hello Raspberry Pi
Comment=Simple Tkinter Hello World App
Exec=/home/jg/.local/share/hello-pi/src/index.py
Terminal=false
Categories=Utility;
